.btn {
  padding: 1rem;
  background: $primary;
  color: $accent;
  font-size: 1;
  font-weight: bold;
  border-radius: 2rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px 1px $primary--low;
  white-space: nowrap;
  &--secondary {
    background: $primary--low;
  }
  &--plain {
    background: $accent;
    color: $secondary;
  }
  &__icon {
    margin: 0 0 0 0.5rem;
    background: $accent;
    color: $primary;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    // display: inline-block;
  }
}